<div class="container d-flex flex-column">
    <h1 class ="mb-5 mt-5 text-success">Hello, <%= @user.email %>, welcome back! </h1>

  <h2 class ="text-success">Your rented goats!</h2>
  <div class = "bg-info rounded">
    <div class="row justify-content-center">
    <% @user.rentals.each do |rental| %>
    <div class="card m-3 p-2" style="max-width: 800px; background-color: #E3FFFF;">
        <div class="row no-gutters">
          <div class="col-sm-6 d-flex align-items-center">
            <img src="<%= cl_image_path rental.goat.photo.key %>" class="card-img" alt="...">
          </div>
          <div class="col-sm-6">
            <div class="card-body">
              <h5 class="card-title"><%= link_to rental.goat.name, goat_path(rental.goat) %></h5>
              <p class="card-text">Start Date: <%= rental.start_date.strftime('%a %d %b %Y') %></p>
              <p class="card-text">End Date: <%= rental.end_date.strftime('%a %d %b %Y')%></p>
            </div>
          </div>
       </div>
    </div>
    <% end %>
  </div>
  </div>
</div>
