<div class="container-fluid">
  <div class="card-trip">
    <% @goats.each do |goat| %>
    <img src="('<%= cl_image_path goat.photo.key %>')"
    <div class="card-trip-infos">
        <h2><%= goat.name %></h2>
        <p><%= goat.job %></p>
    </div>
      <p><%= goat.city %></p>
      <h2 class="card-trip-pricing"><%= "$ #{goat.price_par_day}" %></h2>
    </div>
  <% end %>
  </div>
</div>
