<div class="row justify-content-center">
  <div id="map" style="width: 50%"
    class="col-12 col-sm-6"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div class="cards col-12 col-sm-6">
    <div class="container">
      <h2 class="mb-2 border-bottom py-2 text-center">Goats Near You</h2>

      <div class="row justify-content-center card-display">
        <% @goats.each do |goat| %>
        <div class="col-10 col-lg-6 my-3 no-underline">
          <%= link_to goat_path(goat), method: :get do %>
          <div class="card-category d-flex align-items-end justify-content-between rounded" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5)), url('<%= cl_image_path goat.photo.key, height: 300, width: 400, crop: :fill %>')">
            <div class="mt-1 goat-rating ">
              <p class="">
              <% goat.average.times do %>
                <i class="fas fa-star"></i>
              <% end %>
              </p>
            </div>
            <div class="p-2 mb-2">
              <h2 ><%= goat.name %></h2>
              <p ><%= goat.job %></p>
            </div>
            <div class="p-2 mb-1">
              <p ><%= goat.address %></p>
              <h2 class="card-category-pricing "><%= "$ #{goat.price_per_day}" %></h2>
            </div>
          </div>
          <% end %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
