<div class="container-fluid">
  <div class="row mb-2">
    <div class="col-12 text-center px-2">
      <h2><%= @goat.address %></h2>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-12 col-md-4 px-2 card-show justify-content-center align-items-center rounded" style="background-image: url('<%= cl_image_path @goat.photo.key, height: 350, width: 350, crop: :thumb, gravity: :face %>')">
    </div>
    <div class="col-12 col-md-4 mb-2 px-2 rounded text-center">
      <h4>Name:</h4>
      <p><%= @goat.name %></p>
      <h4>Age:</h4>
      <p><%= @goat.age %></p>
      <h4>Breed:</h4>
      <p><%= @goat.breed %></p>
      <h4>Description: </h4>
      <p><%= @goat.description %></p>
      <div class="d-flex justify-content-end my-1"">
        <h3> $<%= @goat.price_per_day %>/night </h3>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mb-2">
    <div class="col-12 col-md-4 px-2 text-center rounded">
      <%= simple_form_for [@goat, @rental] do |f| %>
        <%= f.input :start_date, as: :string, input_html: {class: "datepicker"} %>
        <%= f.input :end_date, as: :string, input_html: {class: "datepicker"} %>
        <%= f.button :submit, class:"btn btn-primary btn-block mt-4" %>
      <% end %>
    </div>
  </div>
</div>
