<!-- <div class="container-fluid">
  <div class="row mb-2">
    <div class="col-12 text-center px-2">
      <h2><%= @goat.address %></h2>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-12 col-md-4 px-2 card-show justify-content-center align-items-center rounded" style="background-image: url('<%= cl_image_path @goat.photo.key, height: 350, width: 350, crop: :thumb, gravity: :face %>')">
    </div>
    <div class="col-12 col-md-4 mb-2 px-2 rounded text-center">
      <h4>Name:</h4>
      <p><%= @goat.name %></p>
      <h4>Age:</h4>
      <p><%= @goat.age %></p>
      <h4>Breed:</h4>
      <p><%= @goat.breed %></p>
      <h4>Description: </h4>
      <p><%= @goat.description %></p>
      <div class="d-flex justify-content-end my-1"">
        <h3> $<%= @goat.price_per_day %>/night </h3>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mb-2">
    <div class="col-12 col-md-4 px-2 text-center rounded">
      <%= simple_form_for [@goat, @rental] do |f| %>
        <%= f.input :start_date, as: :string, input_html: {class: "datepicker"} %>
        <%= f.input :end_date, as: :string, input_html: {class: "datepicker"} %>
        <%= f.button :submit, class:"btn btn-primary btn-block mt-4" %>
      <% end %>
    </div>
  </div>
</div> -->



<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6 col-xl-6 px-2 mb-3 card-show justify-content-center align-items-center rounded" style="background-image: url('<%= cl_image_path @goat.photo.key, height: 800, width: 800, crop: :thumb, gravity: :face %>')">
        <%= simple_form_for [@goat, @rental] do |f| %>
          <%= f.input :start_date, as: :string, input_html: {class: "datepicker"} %>
          <%= f.input :end_date, as: :string, input_html: {class: "datepicker"} %>
          <%= f.button :submit, class:"btn btn-primary btn-block mt-5" %>
        <% end %>
    </div>
    <div class="col-12 col-lg-6 col-xl-6 mb-3">
      <div id="map" class="rounded" style="width: 100%; height: 350px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
    <div class="col-12 col-lg-6 col-xl-6 mb-3 px-4 rounded text-center shadow">
      <div class= "d-flex justify-content-between mt-3 mb-3">
        <h2><strong><%= @goat.name %></strong></h2>
        <h3> <strong>$<%= @goat.price_per_day %>/night</strong></h3>
      </div>
      <div class= "d-flex justify-content-between mb-3">
        <h4>Age: <strong><%= @goat.age %></strong></h4>
        <h4>Breed: <strong><%= @goat.breed %></strong></h4>
      </div>
      <h4><strong>Description: </strong></h4>
      <p><%= @goat.description %></p>
    </div>
    <div class="col-12 col-lg-6 col-xl-6 pl-3">
      <div class=" mb-3 px-2 rounded reviews shadow">
        <% if @reviews.length == 0%>
          <h2>No reviews yet!</h2>
        <% else %>
          <% @reviews.each do |review| %>
          <div class= "border-bottom d-flex justify-content-between">
              <div>
                <h4><%= review.content %></h1>
                  <div class="mt-1 ">
                    <p class="">
                    <% review.rating.times do %>
                      <i id="stars" class="fas fa-star"></i>
                    <% end %>
                    </p>
                  </div>
              </div>
              <h5>-<%= review.rental.user.email %></h2>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>